body{background: url('../imagen/f.jpg');
    text-align: center;
    width: 100%;
    text-decoration: none;
    
   
    font-family:'Helvetica', Arial, monospace;
    font-weight: 600;
    font-size: 20px;
    color:rgb(0, 0, 0);

}

main {
    display: inline block;
    width: 100%;
}
#banner { 
    background-color: blue;height: 80px; width: 100%;
}
  
#Menu { 
    background-color: white;height: 50px; width: 100%;
}
        

    
#Menu li {
    display: inline;
    margin: 15px;
    padding: 15px;
}
 #Menu li a{
    font-family:'Helvetica', Arial, monospace;
    font-size: 30px;
    color:blue;
    text-decoration: none;
        }
    
#Menu li a:hover{
    color:rgb(13, 115, 199);
    font: size 40px;
        }
#Menu {text-align: center

}
p{
    text-align: justify;
}
table {
    margin-top: 60px;
    width: 100%;
    border: 1px solid #000;
    background-color: cornsilk;
 }
 th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
 }